
* {
  padding: 0;
  margin: 0;
}

.title {
  background-color: orangered;

}

.foo {
  font-weight: bold;
  color: white;
}

.logo-image {
  padding: 10px;
  background-color: orangered;
  /* border-radius: 50%; */
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  /* border-radius: 50%; */

}

.company-header {
  display: flex;
  justify-content: center;
  /* margin: 10px; */
  align-items: center;
  text-align: center;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  background-color: white;
  padding: 20px;
}

.contact {

  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #044D72;
}

.screen-container {
  background-color: bisque;
  min-height: 100vh;
  padding: 30px;
}

.home-title {
  text-align: center;
}